In [1]:
titanic_dataset_github_url = "https://raw.githubusercontent.com/datasciencedojo/datasets/refs/heads/master/titanic.csv"

In [3]:
import pandas as pd
df = pd.read_csv(titanic_dataset_github_url) # raw data

In [9]:
pd.set_option('display.max_rows',15)

In [10]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [11]:
df[['Fare','Age']].head()

      Fare   Age
0   7.2500  22.0
1  71.2833  38.0
2   7.9250  26.0
3  53.1000  35.0
4   8.0500  35.0

In [15]:
pd.set_option('display.float_format','{:.2f}'.format)

In [16]:
df[['Fare','Age']].head()

   Fare   Age
0  7.25 22.00
1 71.28 38.00
2  7.92 26.00
3 53.10 35.00
4  8.05 35.00

In [17]:
pd.get_option('display.max_rows')

15

In [ ]:
with pd.option_context('display.max_rows', 3): #temparory setting / local variables
    print(df)

     PassengerId  Survived  Pclass                     Name   Sex   Age  \
0              1         0       3  Braund, Mr. Owen Harris  male 22.00
..           ...       ...     ...                      ...   ...   ...
890          891         0       3      Dooley, Mr. Patrick  male 32.00

     SibSp  Parch     Ticket  Fare Cabin Embarked
0        1      0  A/5 21171  7.25   NaN        S
..     ...    ...        ...   ...   ...      ...
890      0      0     370376  7.75   NaN        Q

[891 rows x 12 columns]

In [19]:
#resetting to default
pd.reset_option('display.max_rows')

In [20]:
pd.get_option('display.max_rows')

60

In [21]:
#resetting to default all options
pd.reset_option('all')

C:\Users\saanv\AppData\Local\Temp\ipykernel_14412\845453151.py:2: FutureWarning: data_manager option is deprecated and will be removed in a future version. Only the BlockManager will be available.
  pd.reset_option('all')
C:\Users\saanv\AppData\Local\Temp\ipykernel_14412\845453151.py:2: FutureWarning: use_inf_as_na option is deprecated and will be removed in a future version. Convert inf values to NaN before operating instead.
  pd.reset_option('all')

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.

In [25]:
import warnings

with warnings.catch_warnings():
    warnings.simplefilter('ignore', FutureWarning)
    pd.reset_option('all')

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.

In [26]:
print(df['Sex'].dtype)

object

In [28]:

#convert column to categorical
df['Sex_C'] = df['Sex'].astype('category')

In [30]:
df['Sex_C_categorical_codes'] = df['Sex_C'].cat.codes

In [34]:
df[['Sex', 'Sex_C_categorical_codes']].head()

      Sex  Sex_C_categorical_codes
0    male                        1
1  female                        0
2  female                        0
3  female                        0
4    male                        1

In [31]:
df['Sex_apply_category'] = df['Sex'].apply(lambda x : 0 if x == 'male' else 1)

In [33]:
df[['Sex', 'Sex_apply_category']].head()

      Sex  Sex_apply_category
0    male                   0
1  female                   1
2  female                   1
3  female                   1
4    male                   0

In [35]:
#Date functionalitie sin pandas

df = pd.DataFrame({
    'event' : ['Concert', 'Conference', 'Wedding'],
    'date' : ['2025-01-01', '2025-03-05', '2025-07-20']
})

In [36]:
df.head()

        event        date
0     Concert  2025-01-01
1  Conference  2025-03-05
2     Wedding  2025-07-20

In [38]:
df['date_pandas'] = pd.to_datetime(df['date'])

In [39]:
df.head()

        event        date date_pandas
0     Concert  2025-01-01  2025-01-01
1  Conference  2025-03-05  2025-03-05
2     Wedding  2025-07-20  2025-07-20

In [41]:
pd.date_range(start='2025-01-01', end='2025-04-01',freq='MS')

DatetimeIndex(['2025-01-01', '2025-02-01', '2025-03-01', '2025-04-01'], dtype='datetime64[ns]', freq='MS')

In [ ]:
#date arithmentics